/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any custom global styles or animations here */

/* Custom animation for blinking text */
@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s infinite;
}