/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add your custom blink animation here */
@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1.5s infinite steps(1, start);
  /* Adjust timing as needed */
}